/*
 * jQuery UI specific styling
 */

.paging_two_button .fg-button {
  float: left;
  cursor: pointer;
}

.paging_full_numbers .fg-button {
  padding: 2px 6px;
  cursor: pointer;
}

.paging_full_numbers {
  width: 350px !important;
}

.fg-toolbar {
  padding: 10px;
}

.dataTables_paginate {
  width: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
  position: relative;
  min-height: 302px;
  _height: 302px;
  clear: both;
}

.dataTables_processing {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 11px;
  padding: 2px 0;
}

.dataTables_length {
  width: 40%;
  float: left;
}

.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}

.dataTables_info {
  width: 47%;
  float: left;
}

.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

tr.odd {
  background-color: #f5f7d4;
}

tr.even {
  background-color: white;
}

table td, table th {
  padding: 10px;
}

table th {
  min-width: 5em;
}

.css_right {
  float: right;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  color: #444;
  font-weight: normal;
}