pre.php .imp {font-weight: bold; color: red}
  pre.php .kw1 {color: #FF8400}
  pre.php .kw2 {color: #FFCC66}
  pre.php .kw3 {color: #07DFFC}
  pre.php .co1 {color: #BD48B3; font-style: italic}
  pre.php .co2 {color: #BD48B3; font-style: italic}
  pre.php .coMULTI {color: #BD48B3; font-style: italic}
pre.php .es0 {color: #ddd}
  pre.php .br0 {color: #fff}
  pre.php .st0 {color: #99FF00}
  pre.php .nu0 {color: #66CC66}
  pre.php .me1 {color: #FFCC66}
  pre.php .me2 {color: #FFCC66}
  pre.php .re0 {color: #fff}
  pre.php a {text-decoration: none}