body {
  font:13px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;  
}

.dm_layout_center {
  width: 1000px;
  margin: auto;
}

.dm_layout_top {
  background: #abb308 url(../images/head_bg.png) bottom left repeat-x;
  margin-bottom: 10px;
}

.dm_layout_top div.dm_zones {
  width: 1000px;
  margin: auto;
}

#dm_content {
  width: 700px;
  float: left;
  min-height: 400px;
}

body.column_1 #dm_content,
body.home #dm_content {
  width: 1000px;
  float: none;
}

.dm_layout_right {
  width: 280px;
  margin-left: 20px;
  float: left;
}

.dm_layout_bottom {
  background: #ED9308 url(../images/foot_bg.png) top left repeat-x;
  margin-top: 10px;
  padding: 20px 0;
  line-height: 1.6em;
}

.dm_layout_bottom a.link {
  text-decoration: none;
  color: #fff;
}
.dm_layout_bottom a.link:hover {
  text-decoration: underline;
}

.dm_layout_bottom div.dm_zones {
  width: 1000px;
  margin: auto;
}

.footer .navigation,
.footer .community,
.footer .more_links {
  float: left;
  width: 25%;
}

.footer .navigation {
  width: 45%;
}

.footer .community {
  width: 15%;
}

.footer a.opensourcelink {
  width: 12%;
  text-align: center;
  float: left;
}

.footer_menu {
  margin-right: 1%;
  float: left;
  border-left: 1px solid #F6CB89;
  padding-left: 5px;
}

.footer .community nav {
  border-left: 1px solid #F6CB89;
  padding-left: 5px;
}

.footer img {
  vertical-align: middle;
}

.footer_menu .link {
  display: block;
}

.footer .more_links {
  width: 28%;
}

.footer .more_links_inner {
  color: #444;
  padding: 1em;
  background: #FEF9F2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.footer .more_links_inner a {
  color: #046BCA;
}

#fork_me_right {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/*
 * Hide accessibility links
 */
.dm_access_links {
  position: absolute;
  left: -9000px;
}