config/databases.yml
config/require_diem.php
cache/*
log/*
logs
data/dm/*
public_html/cache/*
public_html/.htaccess
public_html/dm
public_html/*Plugin
public_html/sf
public_html/uploads/*
public_html/stats/*
public_html/sitemap*.xml
public_html/dev.php
public_html/admin_dev.php
lib/*/doctrine/base
lib/*/doctrine/dm*Plugin/base
/apps/front/config/app.yml
nbproject
.bash_history
.bashrc
.profile
.bash_logout
.stats-htpasswd
.viminfo
